body {
    background-color: #E3FDFD;
}

h1, h3 {
    color: #FF2E63;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;    
}
