body {
    background-color: #CDF0EA;
}

h1, h3 {
    color: #F24C4C;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;    
}
